# dependencies
/frontend/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist/

# IDE
.DS_Store
.idea/
.vscode/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
*.sqlite
*.sqlite3

# Secrets
secrets.json
config.json
*.pem
*.key
*.crt

# Backups
*.bak
*.old
*.swp
*.tmp

# OS
Thumbs.db

# Backend
backend/Gemini_key.py
backend/venv
__pycache__/
*.pyc
*.pyo

# Frontend
frontend/YouTube_Assets/ReactJS_Learning_Assistant_Created_by_FlaskArchitect.mp4
frontend/YouTube_Assets/ReactJS_Learning_Assistant_Created_by_FlaskArchitect_Final.mp4
frontend/node_modules

# Documentation
/docs/_build/